.nav{
    border:1px solid #000000;
    border-width:1px 0;
    margin:0;
    padding:0;
    text-align:center;
    background-color: #FFF8DC;
    position: sticky;
    top: 0;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}
body {
  background-color: #F5F5DC;
}
#content{
	padding-left: 1%;
}
#hobbies-content{
	padding-left: 1%;
}
#pets-content{
	padding-left: 1%;
}
#contact-info{
	font-family: "Open Sans", sans-serif;
	text-align: center;
}
#resume-experience h3{
	text-decoration: underline;
}
#resume-qualifications h3{
	text-decoration: underline;
}
#resume-education h3{
	text-decoration: underline;
}
#resume-skills h3{
	text-decoration: underline;
}
p {
  font-family: "Georgia", serif;
}